.is-present h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.avatar-img-wrap {
    padding: 4px !important;
}

.avatar-img {
    max-width: 40px !important;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
